*{
    box-sizing: border-box;
}

body{
    font-size: 2em;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
    padding: 0 0 20px 0;
}

.box{
    display: flex;
    align-items: center;
    border-radius: .5em;
    background-color: burlywood;
    width: 50vw;
    height: 20vh;
    margin: 15px;
    padding: 15px;
}

